/*
Theme Name: coco-yoka
Theme URI: https://cocoyoka.wordvolcano.info
Author: the WordBench Kagoshima
Author URI: http://wordbench.org/groups/kagoshima/
Template: twentyfifteen
Description: WordBench鹿児島がハンズオンで作成した地図サービスCoco-Yokoのテーマ。
*/

/* ========== header ========== */


/* ========== footer ========== */
.site-info ul { list-style: none; padding: 0; margin: 0; line-height: 3; }

/* ========== home ========== */
#secfirstView_outer { display: none; position: fixed; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }
#secfirstView { position: absolute; top: 30%; left: 50%; margin-left: -45%; width: 90%; padding: 5%; border: 1px solid #aaa; border-radius: 3px; background-color: #fff; }
.secfirstView_btn { margin-top: 20px; text-align: center; margin-bottom: 0; }
.secfirstView_btn a { display: inline-block; width: 45px; height: 45px; box-sizing: border-box; font-size: 30px; border-radius: 5px; border: 1px solid #aaa; text-align: center; line-height: 1.45; }
.secfirstView_lead { margin: 0 0 15px; }
.secfirstView_category { list-style: none; margin: 0; padding: 0; font-size: 0; text-align: center; }
.secfirstView_category li { display: inline-block; font-size: 1rem; width: 30%; margin-left: 10px; }
.secfirstView_category li:first-child { margin-left: 0; }
.secfirstView_category a { display: inline-block; }
.mapp-layout { border: none; margin: 15px 0; }
.bt_submit { width: 90%; margin: 20px auto; }


/* ========== category ========== */
.archive .hentry {
  padding-top: 7.6923%;
  padding-bottom: 7.6923%;
}
.archive .hentry .entry-header .entry-title {
	margin-bottom: 0;
}
.archive .wp-pagenavi {
	text-align: center;
}

/* ========== single ========== */
.single h1.entry-title { border-left: 10px solid #EF4A29; padding-left: 0.45em; font-weight: normal; color: #EF4A29; }
.entrylist-cat a { font-size: 0.95em; color: #555; border-bottom: 0px; padding-left: 0.65em; }
.coco_comment { font-size: 1.00em; }
.coco_image { width: 100%; }

/* ========== entry (contact form 7) ========== */
.coco_mapplace,
.coco_input {
  list-style: none;
  }
.coco_mapplace {margin-top: .5em;}
.coco_mapplace > li {
  display: inline;
  margin-right: .5em;
  }
.coco_input > li {margin-bottom: .5em;}
input[type="text"].coco_mapplaceText-ido {width: 38%;}
input[type="text"].coco_mapplaceText-keido {width: 38%;}
input[type="text"].coco_inputText-captcha ,
input[type="file"].coco_inputFile-image {width: 20em;}
input[type="file"].coco_inputFile-image {margin: 10px 0;}

::-webkit-input-placeholder { color: #BBBBBB; }
:-moz-placeholder { color: #BBBBBB; }
::-moz-placeholder { color: #BBBBBB; }
:-ms-input-placeholder { color: #BBBBBB; }
#map-canvas { height: 1000px; margin: 0px; padding: 0px; height: 500px; }
#panel { overflow: hidden; margin: 10px 0; }
#address { display: block; width: 100%; margin-bottom: 10px; }
#searchPlace,
#currentpos,
#redo { display: inline-block; margin-right: 5px; width: auto; }
#redo { float: right; }

@media ( max-width: 767px ) {
	.coco_mapplace > li { display: block; }
	input[type="text"].coco_mapplaceText-ido {width: 80%; margin-bottom: 5px;}
	input[type="text"].coco_mapplaceText-keido {width: 80%;}
	.btn_submit { text-align: center; }
}
